blog/.idea
blog/blog/__pycache__
blog/manager/__pycache__
blog/manager/migrations/__pycache__
blog/post/__pycache__
blog/post/migrations/__pycache__
blog/db.sqlite3
blog/userActions/__pycache__
blog/userActions/migrations/__pycache__
blog/media
blog/post/__pycache__
blog/post/migrations/
blog/post/migrations/__pycache__
blog/post/migrations/
blog/userActions/migrations/__init__.py
blog/post/migrations/0001_initial.py
