{% load static %}

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{% static 'blog_logo.png' %}" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">

                {% if request.user.is_authenticated %}
                <a class="button is-primary" href="/user-actions/logout">
                    <strong>Log out</strong>
                </a>
                {% else %}
                <a class="button is-primary" href="/user-actions/register">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/user-actions/login">
                    Log in
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>