{% extends 'blog/base_blog.html' %}

{% block body %}
{% include 'blog/navigation.html' %}
<div class="container">
    <div class="level">
        <div class="level-item">
            <div class="card" style="margin: 2rem auto;">
                <header class="card-header">
                    <p class="card-header-title">
                        Register
                    </p>
                </header>

                <div class="card-content">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            <div class="field">
                                {{ field }}
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </p>
                        {% endfor %}
                        <input class="button" type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}