{% extends 'post/post_base.html' %}

{% block post_content %}
<div class="container">
    <div class="card" style="margin: 1.5rem auto;">
        <header class="card-header">
            <span class="card-footer-item">
                <i class="fas fa-arrow-left" style="margin-right: .75rem; color: #3273dc;"></i>
                <a href="/">Back</a>
            </span>
            <span class="card-footer-item">
                <i class="far fa-thumbs-up" style="margin-right: .75rem; color: #3273dc;"></i>
                <a href="#">Likes ({{ count_of_likes }})</a>
            </span>
            <span class="card-footer-item">
                <i class="far fa-comments" style="margin-right: .75rem; color: #3273dc;"></i>
                <a href="#">Comments ({{ comment_count }})</a>
            </span>
        </header>
        <div class="card-image">
            <figure >
                <img src="{{ blog_dto_post.mainImage }}" alt="Placeholder image"
                style="display: block; margin-left: auto; margin-right: auto; width: 50%;" >
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    {% for t in blog_dto_post.tags %}
                    <span class="tag is-primary"># {{ t }}</span>
                    {% endfor %}
                    <p class="title is-4" style="margin-top: 8px;">{{ blog_dto_post.tittle }}</p>
                    <p class="subtitle is-6">@author {{ blog_dto_post.author }}</p>
                </div>
            </div>
            <div class="content">
                {{ blog_dto_post.content }}
                <br>
                <time style="font-size: smaller;">{{ blog_dto_post.create_date }}</time>
            </div>
        </div>
        {% if user_logged_in %}
        <footer class="card-footer">
            {% if blog_dto_post.like %}
            <span class="card-footer-item">
                <i class="far fa-thumbs-down" style="margin-right: .75rem; color: hsl(348, 100%, 61%);"></i>
                <a href="/like/{{ blog_dto_post.id }}?like=false" style="color: hsl(348, 100%, 61%);">Unlike</a>
            </span>
            {% endif %}
            {% if not blog_dto_post.like %}
            <span class="card-footer-item">
                <i class="far fa-thumbs-up" style="margin-right: .75rem; color: #3273dc;"></i>
                <a href="/like/{{ blog_dto_post.id }}?like=true">Like</a>
            </span>
            {% endif %}
        </footer>
        {% endif %}
    </div>
    {% if user_logged_in %}
    <div class="card" style="margin: 1.5rem auto;">
        <header class="card-header">
            <p class="card-header-title">
                Comment
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="far fa-comment" aria-hidden="true"></i>
                </span>
            </a>
        </header>
        <form id="comment-form" action="/post/{{ blog_dto_post.id }}/comment" method="post">
            {% csrf_token %}
            <div class="card-content">
                <div class="content">
                    <div class="control">
                        <textarea name="comment" id="id-comment" class="textarea" placeholder="Type text"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <footer class="card-footer">
            <span class="card-footer-item">
                <i class="fas fa-plus" style="margin-right: .75rem; color: #3273dc;"></i>
                <a href="#" onclick="document.getElementById('comment-form').submit();">Add</a>
            </span>
        </footer>
    </div>
    {% endif %}

    {% for c in comments %}
    <div style="margin: 1.5rem auto;">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ c.author }}</strong>
                            <small>{{ c.create_date }}</small>
                            <br>
                            {{ c.content }}
                        </p>
                    </div>
                    {% if c.my_own %}
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" aria-label="remove" href="/post/comment/{{ c.id }}/remove">
                                <span class="icon is-small">
                                  <i class="fas fa-trash" style="color: hsl(348, 100%, 61%);" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}